@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Brand
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Menu
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Toolbar

<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-horizontal">
    <div class="navbar-brand">
        @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="main-navbar-collapse">
        <ul class="navbar-nav">
            @(await Component.InvokeAsync<MainNavbarMenuViewComponent>())
        </ul>
    </div>
    <div class="navbar-toolbars">
        <ul class="navbar-nav">
            @(await Component.InvokeAsync<MainNavbarToolbarViewComponent>())
            <li class="nav-item">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar-collapse" aria-controls="main-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="navbar-horizontal-overlay" data-header="overlay">
</div>