@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Components.Brand
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Components.Menu
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Components.NavbarToolbar
<header class="pure-navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarNav" aria-controls="mainNavbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())
            <div class="collapse navbar-collapse" id="mainNavbarNav">
                <ul class="navbar-nav me-auto">
                    @(await Component.InvokeAsync<MainNavbarMenuViewComponent>())
                </ul>
            </div>
            <div class="navbar-toolbar">
                @(await Component.InvokeAsync<NavbarToolbarViewComponent>())
            </div>
        </nav>
    </div>
</header>