@using Dignite.Abp.FieldCustomizing.Forms.Switch
@inherits FieldComponentBase<SwitchFormProvider,SwitchConfiguration>

    <Field Horizontal="@(!HideFieldLable)">
        <FieldLabel ColumnSize="ColumnSize.Is2.OnDesktop" hidden="@HideFieldLable">@CustomizeField.Definition.DisplayName</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is10.OnDesktop" Margin="Margin.IsAuto">      
            
        @if (value.HasValue)
        {
            <span>是</span>
        }
        else
        {
            <span>是</span>            
        }
    </FieldBody>
    </Field>


@code{
    private bool? value = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (CustomizeField.Entity.GetField(CustomizeField.Definition.Name, null) != null)
        {
            bool convertValue;
            if (bool.TryParse(CustomizeField.Entity.GetField(CustomizeField.Definition.Name).ToString(), out convertValue))
            {
                value = convertValue;
            }
        }
    }
}