@using Dignite.Cms.Public.Web.Models;
@using Dignite.FileExplorer.Files
@using Dignite.Abp.Data

@model EntryListViewModel
@{
}

<div class="row">
    @foreach (var item in Model.Entries)
    {
        var itemModel = new EntryViewModel(item, Model.Section);
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a section="@Model.Section" entry="item">
                            <cms-entry-field field-name="image" entry="itemModel" partial-name="blog/_post-cover-image"></cms-entry-field>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a section="@Model.Section" entry="item">@item.Title</a></h5>
                            <p class="card-text"><cms-entry-field field-name="TextboxFieldName" entry="itemModel"></cms-entry-field></p>
                            <p class="card-text"><small class="text-body-secondary">@item.PublishTime</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>