@page "/cms/admin"
@using Microsoft.Extensions.Localization
@using global::Dignite.Cms.Localization
@inject IStringLocalizer<CmsResource> L
@{
    // TODO: Create CMS homepage
}
<h1>@L["Cms"]</h1>
<p></p>
<div style="min-height:1500px;"></div>
<footer class="page-footer">
    <hr />
    footer
</footer>