@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure;
@using Volo.Abp.UI.Navigation;
@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
@inject IMenuManager MenuManager
@{
    var menu = await MenuManager.GetAsync(PureMenus.SiteMap);
}

<div class="container-fluid bg-primary text-white py-5">
    <div class="container">
        <div class="row mb-5">
            @foreach (var group in menu.Groups)
            {
                <div class="col-lg-3 col-6">
                    <div class="card bg-transparent border-0">
                        <div class="card-header bg-transparent border-0 text-white-50">
                            @group.DisplayName
                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (var item in menu.Items.Where(m => m.GroupName == group.Name))
                            {
                                var url = Url.IsLocalUrl(item.Url) ? Url.Content(item.Url.EnsureStartsWith('~')) : item.Url;
                                <li class="list-group-item border-0 bg-transparent">
                                    <a class="nav-link text-white underline-animate underline-animate-white d-inline" href="@url">
                                        @item.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>

        <hr />
        <div class="d-flex flex-column flex-md-row">
            <ul class="list-inline">
                <li class="list-inline-item">Copyright©@DateTime.Now.Year</li>
                <li class="list-inline-item">@BrandingProvider.AppName Co., Ltd.</li>
            </ul>
            <ul class="list-inline ms-md-auto">
                <li class="list-inline-item">Web Design By <a href="//dignite.com" class="text-reset underline-animate underline-animate-white">Dignite</a></li>
            </ul>
        </div>
    </div>
</div>