@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<div class="container">
    <hr />
    @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace())
    {
        <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName">
    }
    @BrandingProvider.AppName


</div>