@using Volo.Abp.AspNetCore.Components
@inherits AbpComponentBase
@if(CurrentUser.IsAuthenticated)
{
<Button Color="Color.Light" Position="Position.Relative" Clicked="NavigateToNotificationCenter">
    <BarIcon IconName="IconName.Bell"></BarIcon>
    @if (notificationCount > 0)
        {
    <Badge Color="Color.Danger" Pill Position="Position.Absolute.Top.Is0.Start.Is100.Translate.Middle">
        @notificationCount
    </Badge>
        }
</Button>
}