@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Brand
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Menu
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.OffcanvasNavbar.FooterLinks
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="mainOffcanvasNavbarLabel">
        @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body d-flex flex-column">
    <nav class="navbar">
        <ul class="navbar-nav">
            @(await Component.InvokeAsync<MainNavbarMenuViewComponent>())
        </ul>
    </nav>
    <div class="mt-auto">
        <hr />
        @(await Component.InvokeAsync<FooterLinksViewComponent>())
    </div>
</div>