@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Brand
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Menu
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Footer.FooterLinks
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.NavbarToolbar
@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<div class="offcanvas-header">
    <h5 class="offcanvas-title p-3" id="mainOffcanvasNavbarLabel">
        @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())
    </h5>
    <button type="button" class="btn-close d-inline-block d-sm-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body d-flex flex-column">
    <nav class="navbar">
        <ul class="navbar-nav w-100">
            @(await Component.InvokeAsync<MainNavbarMenuViewComponent>())
        </ul>
    </nav>
    <div class="mt-auto">
        <ul class="nav ms-auto main-navbar-toolbar">
            @(await Component.InvokeAsync<MainNavbarToolbarViewComponent>())
        </ul>
    </div>
</div>