@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<a href="~/" class="navbar-brand d-flex align-items-center fs-4" add-culture="true">
    @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace() || !BrandingProvider.LogoReverseUrl.IsNullOrWhiteSpace())
    {
        <img alt="@BrandingProvider.AppName" title="@BrandingProvider.AppName" class="brand-logo d-inline-block align-text-top d-none">
    }
    else
    {
        @BrandingProvider.AppName
    }
</a>
