@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<a href="~/" class="navbar-brand">
    @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace())
    {
        <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" class="d-inline-block align-text-top">
    }
    <span class="navbar-brand-name">
    @BrandingProvider.AppName
    </span>
</a>
