
<AuthorizeView>
    <Authorized>        
        <button class="btn btn-outline-light border-0" type="button"  id="NotificationCenter" title="NotificationCenter">            
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="badge rounded-pill bg-light text-dark">0</span>
        </button>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

