@page "~/razor-page-test"
@using System.Globalization
@model Dignite.Cms.Pages.RazorPageTestModel
@{
}

<h1 class="my-5">This is RazorPage!</h1>
<p>
    Current Culture Name: @CultureInfo.CurrentCulture.Name
</p>