@using Microsoft.AspNetCore.Mvc.Localization
@using Localization.Resources.AbpUi
@inject IHtmlLocalizer<AbpUiResource> L
<a class="btn" role="button" href="~/Account/Login">
    <i class="far fa-user-circle"></i>
    <small class="d-block d-lg-inline">@L["Login"]</small>
</a>