@page "/"
@using Dignite.FileExplorer.Blazor.Pages.FileExplorer
@inherits FileExplorerSampleComponentBase
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                @L["Welcome_Title"]
            </h5>
        </div>
        <div class="card-body">
            @L["Welcome_Text"]
        </div>
    </div>
    @if (CurrentUser.IsAuthenticated)
    {
        <Paragraph TextAlignment="TextAlignment.Center" Margin="Margin.Is5">
            <a href="/file-form">File Upload Demo</a>
        </Paragraph>           
    }
    else
    {
        <Paragraph TextAlignment="TextAlignment.Center" Margin="Margin.Is5">
            <a href="/account/login">Login</a>
        </Paragraph>
    }
</div>
