@page "/NotificationCenter"
@using Microsoft.Extensions.Localization
@using global::Dignite.Abp.NotificationCenter.Localization
@inject IStringLocalizer<NotificationCenterResource> L
@{
}
<h1>NotificationCenter</h1>
<p>@L["SamplePageMessage"]</p>