@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Brand
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Menu
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.NavbarToolbar
@{
    var containerClass = ViewBag.FluidLayout == true ? "container-fluid" : "container"; //TODO: Better and type-safe options
}
<header class="@containerClass align-items-center main-navbar">
    <nav class="navbar navbar-expand-lg">
        @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())
        <ul class="navbar-nav d-none d-sm-none d-md-flex">
            @(await Component.InvokeAsync<MainNavbarMenuViewComponent>())
        </ul>
        <ul class="nav ms-auto main-navbar-toolbar d-none d-sm-none d-md-flex">
            @(await Component.InvokeAsync<MainNavbarToolbarViewComponent>())
        </ul>
        <button class="navbar-toggler border-0 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-offcanvas-navbar" aria-controls="main-offcanvas-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>