
@using Volo.Abp.UI.Navigation
@model ApplicationMenu

<li class="nav-item">
    <a class="nav-link " href="#" id="Toolbar_Search" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Notifications">
        <i class="fa fa-bell"></i>
    </a>
</li>