@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<BarBrand>
    <BarItem>
        <BarLink To="/">
            @if (!BrandingProvider.LogoReverseUrl.IsNullOrWhiteSpace())
            {
                <img src="@BrandingProvider.LogoReverseUrl" class="navbar-brand-logo" alt="@BrandingProvider.AppName" >
            }
            <span class="navbar-brand-title">
            @BrandingProvider.AppName
            </span>
        </BarLink>
    </BarItem>
</BarBrand>

