/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



// /* 引入组件样式 */
@import "~ng-zorro-antd/select/style/index.min.css";
// @import 'ckeditor5/ckeditor5.css';

/*** 表单验证样式 start */
.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #c00d49 !important;
}

/*** 表单验证样式 end */


/**超链接动画效果 start */
a.underline-animate {
  background: linear-gradient(90deg, var(--bs-link-color), var(--bs-link-color));
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: 0.5s all;
  text-decoration: none;
}

a.underline-animate:hover {
  background-size: 100% 1px;
}

/**超链接动画效果 end*/

/**富文本暗色样式适配 start  */
:root .ck.ck-editor__editable_inline {
  min-height: 160px !important;
}

.ck.ck-editor__main>.ck-editor__editable {
  background: var(--bs-body-bg) !important;
}

.ck.ck-toolbar {
  background: var(--bs-body-bg) !important;
}

// .ck.ck-reset_all, .ck-reset_all *:not(.ck-reset_all-excluded *){
// // color:var(--bs-card-color) !important;  
// }
.ck.ck-button.ck-list-item-button,
.ck.ck-button.ck-list-item-button.ck-on {
  background: var(--bs-body-bg) !important;
}

.ck.ck-dropdown__panel {
  background: var(--bs-body-bg) !important;
}

.ck.ck-editor__editable_inline {
  border-color: var(--ck-color-base-border) !important;
}

:root .was-validated .form-select-multiple {
  border-color: #4fbf67;
  padding-right: calc(1.5em + 1.35rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%234fbf67' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.3375rem) center;
  background-size: calc(0.75em + 0.675rem) calc(0.75em + 0.675rem);
}



/**富文本暗色样式适配 end  */

/**图片显示中间区域  start */

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

/**图片显示中间区域  end */

/**滚动条隐藏 start */
.lpx-scroll-container {
  overflow: auto !important;
}

.lpx-scroll-container::-webkit-scrollbar {
  display: none;
}

/**滚动条隐藏 end */



.text-bg-gray {
  background-color: var(--bs-gray-400);
}

.text-bg-orange {
  background-color: var(--bs-orange);
}

.text-orange {
  color: var(--bs-orange);
}

.text-Waiting {
  color: var(--bs-orange);
}

.text-Completed {
  color: var(--bs-teal);
}

.text-Failed {
  color: var(--bs-pink);
}

.text-Refunded {
  color: var(--bs-yellow);
}

.text-bg-cyan {
  background-color: var(--bs-cyan);
}

/* ckeck样式调整 */
:root .form-check * {
  cursor: pointer;
}



