::selection {
    background-color: var(--bs-link-color);
}
::-moz-selection {
    background-color: var(--bs-link-color);
}
::-webkit-selection {
    background-color: var(--bs-link-color);
}
:root {
    --body-padding-top: 76px;
}
body {
    padding-top: var(--body-padding-top);
}
a:focus {
    outline: 1px dashed var(--bs-link-color);
}
body.abp-public-layout > .container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
}
.navbar {
    --bs-navbar-padding-y: 0.75rem;
    --bs-navbar-brand-padding-y: 0rem;
    --bs-navbar-brand-margin-end:0rem;
}
.dropdown-menu {
    --bs-dropdown-link-active-color:#000;
    --bs-dropdown-link-active-bg: transparent;
}
.dropdown-toggle::after {
    line-height: 1rem;
    content: '›';
    font-size: 1.75rem;
    font-weight: 500;
    border: none;
    vertical-align: -.25rem;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.accordion {
    --bs-accordion-active-bg: transparent;
    --bs-accordion-btn-padding-x: 2rem;
    --bs-accordion-btn-padding-y: 1.5rem;
    --bs-accordion-body-padding-x: 2rem;
    --bs-accordion-body-padding-y: 1.5rem;
}
.accordion-button {
    font-size:1.25rem;
}
.card {
    --bs-card-inner-border-radius: 0.5rem;
}

/* pure navbar wrapper */
.pure-navbar-wrapper {
    position: absolute;
    width: 100%;
    top: 0px;
    transition: all .3s ease 0s;
    border-radius: 1.75rem;
    min-height: var(--body-padding-top);
    z-index: 1022;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.pure-navbar-wrapper .navbar-brand {
    transition: all .3s ease 0s;
    display: flex;
    align-items: center;
}
.pure-navbar-wrapper .navbar-brand:hover {
    transform: scale(.975);
    opacity: .8;
}
.pure-navbar-wrapper .navbar-brand img {
    max-height: 35px;
    margin-right: 0.5rem;
}
.pure-navbar-wrapper .navbar-brand-name {
    font-size: 1.75rem;
}
.pure-navbar-wrapper .navbar-nav {
    padding-left:1rem;
}
.pure-navbar-wrapper .collapse .dropdown-submenu .dropdown-menu {
    top: 100%;
    position: relative;
    padding-left: 1.5rem;
}
.navbar-toolbar {
    display: flex;
    align-items: center;
}
.bottom-navbar {
    position: fixed;
    padding: .5rem;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(var(--bs-body-bg-rgb),.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

@media (max-width: 991px) {
    .pure-navbar-wrapper {
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        background-color: rgba(var(--bs-body-bg-rgb),.9);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    }
    .pure-navbar-wrapper .navbar-nav {
        margin-top:1rem;
    }
    .pure-navbar-wrapper .navbar-toggler {
        order:1;
    }
    .pure-navbar-wrapper .navbar-brand {
        order: 2;
    }
    .pure-navbar-wrapper .navbar-collapse {
        order: 4;
    }
    .pure-navbar-wrapper .navbar-toolbar {
        order: 3;
    }
}
@media (min-width: 992px) {

    /**** nav-like style ****/
    .pure-navbar-wrapper .navbar-nav .nav-link {
        margin-right: 1rem;
        margin-left: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        position: relative;
        /* Animation of the underline */
        background: linear-gradient(90deg, var(--bs-nav-link-color), var(--bs-nav-link-color));
        background-size: 0 2px;
        background-repeat: no-repeat;
        background-position: 0 100%;
        transition: 0.5s all;
    }

    .pure-navbar-wrapper .navbar-nav .nav-link:hover,
    .pure-navbar-wrapper .navbar-nav .nav-link:focus,
    .pure-navbar-wrapper .navbar-nav .nav-link.active,
    .pure-navbar-wrapper .navbar-nav .nav-link.show {
        background-size: 100% 2px;
    }
    /**** --end-- ****/

    /**** Styling for expanded navigation submenus ****/
    .pure-navbar-wrapper.has-subnav-open {
        width: calc(100% - 3rem);
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: rgba(var(--bs-body-bg-rgb),.9);
        box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    }
    .pure-navbar-wrapper .collapse .dropdown-menu {
        background-color: transparent;
        opacity: 0;
        transition: all .5s ease 0s;
    }
    .pure-navbar-wrapper.has-subnav-open .dropdown-menu {
        opacity: 1;
    }
    .pure-navbar-wrapper .collapse .dropdown-item {
        font-size: 1.5rem;
        position: relative;
        color: var(--bs-nav-link-color);
    }
    .pure-navbar-wrapper .collapse .dropdown-item:hover {
        background-color: transparent;
    }
    .pure-navbar-wrapper .collapse .dropdown-item::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -0.25em;
        width: 0.3em;
        height: 0.3em;
        max-width: 7px;
        max-height: 7px;
        border-radius: 0.2em;
        background-color: var(--bs-nav-link-color);
        transform: translate3d(-0.5em, -50%, 0);
        opacity: 0;
        transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1),transform .3s cubic-bezier(0.23, 1, 0.32, 1)
    }
    .pure-navbar-wrapper .collapse .dropdown-item:hover::before {
        transform: translate3d(0, -50%, 0);
        opacity: 1
    }
    /**** --end-- ****/
    .bottom-navbar {
        display:none;
    }
}


/**** The style of the overlay when expanding the navigation submenu ****/
.navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--bs-body-bg-rgb),.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1021;
    pointer-events: all;
    transition: opacity .15s linear;
}
.navbar-overlay:not(.show) {
    opacity: 0;
    display:none;
}
.navbar-overlay.show {
    opacity: 1;
}

/*** page-navbar **/
.page-navbar {
    background-color: rgba(var(--bs-body-bg-rgb),.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

/** Animation of underline **/
.underline-animate {
    background: linear-gradient(90deg, var(--bs-link-color), var(--bs-link-color));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: 0.5s all;
    text-decoration: none;
}
.underline-animate:hover {
    background-size: 100% 1px;
}
.underline-animate.fw-medium,
.underline-animate.fw-semibold{
    background-size: 0 2px;
}
.underline-animate.fw-medium:hover,
.underline-animate.fw-semibold:hover{
    background-size: 100% 2px;
}
.underline-animate.fw-bolder {
    background-size: 0 4px;
}
.underline-animate.fw-bolder:hover {
    background-size: 100% 4px;
}
.underline-animate.text-white {
    background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,1));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.underline-animate.text-white:hover {
    background-size: 100% 1px;
}
.underline-animate.text-black {
    background: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,1));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.underline-animate.text-black:hover {
    background-size: 100% 1px;
}
