@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Toolbars
@model Toolbar

@if (Model.Items.Any())
{
    <nav class="bottom-navbar">
        @foreach (var toolbarItem in Model.Items.OrderBy(i => i.Order))
        {
            @(await Component.InvokeAsync(toolbarItem.ComponentType))
        }
    </nav>
}