<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/a6eca9c3-8757-45ba-8c0a-a80c20c7c22d/v3/index.json" />
  </packageSources>
</configuration>