<abp-page [title]="'::Menu:Home' | abpLocalization">
  <div class="card">
    <div class="card-header">{{ '::Welcome' | abpLocalization }}</div>
    <div class="card-body">
      <p>
        {{ '::LongWelcomeMessage' | abpLocalization }}
      </p>
      <p *ngIf="!hasLoggedIn">
        <a (click)="login()" class="btn btn-primary" role="button"
          ><i class="fa fa-sign-in me-1" aria-hidden="true"></i>{{ 'AbpAccount::Login' | abpLocalization }}</a
        >
      </p>
      <hr />
      <p class="text-right"><a href="https://dignite.com" target="_blank">dignite.com</a></p>
    </div>
  </div>
</abp-page>
