@using Microsoft.AspNetCore.Mvc.Localization
@using Localization.Resources.AbpUi
@inject IHtmlLocalizer<AbpUiResource> L
<a class="btn" role="button" href="~/">
    <i class="fas fa-home"></i>
    <span class="d-none d-sm-none d-md-none d-lg-inline">@L["Home"]</span>
</a>
