@using Microsoft.AspNetCore.Mvc.Localization
@using Localization.Resources.AbpUi
@inject IHtmlLocalizer<AbpUiResource> L
<a class="btn d-block d-sm-block d-md-block d-lg-none" role="button" href="~/">
    <i class="fas fa-home"></i>
    <small class="d-block d-sm-block d-md-block d-lg-inline">@L["Home"]</small>
</a>
