@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Footer.FooterLinks
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Footer.ShortcutMenu
@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<footer class="container my-5 d-none d-sm-none d-md-none d-lg-block" id="layout-footer">
    @(await Component.InvokeAsync<ShortcutMenuViewComponent>())
    <hr />
    <nav class="d-flex align-items-center justify-content-between">
        <div class="text-secondary">
            Copyright @DateTime.Now.Year © @BrandingProvider.AppName
        </div>
        @(await Component.InvokeAsync<FooterLinksViewComponent>())
    </nav>
</footer>