@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Footer.FooterLinks
@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.Footer.ShortcutMenu
@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<footer class="container-fluid bg-body-tertiary py-5" id="layout-footer">
    <div class="container">
        @(await Component.InvokeAsync<ShortcutMenuViewComponent>())
        <hr />
        <nav class="d-flex flex-column-reverse flex-sm-row align-items-center justify-content-between">
            <div class="text-secondary">
                Copyright @DateTime.Now.Year © @BrandingProvider.AppName
            </div>
            @(await Component.InvokeAsync<FooterLinksViewComponent>())
        </nav>
    </div>
</footer>