<div class="color-mode-switch">
    <button title="Dark" type="button" class="btn d-none" data-bs-theme-value="dark">
        <i class="fas fa-sun"></i>
    </button>
    <button title="Light" type="button" class="btn d-none" data-bs-theme-value="light">
        <i class="fas fa-moon"></i>
    </button>
</div>